/* Your custom css code goes here */
.logo{
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-size: 34px;
	font-weight: 700;
}
.room-image img{
	width: 100%!important;
}
.purple-bg{
	background-color: #903479!important;
	color:#fff;
	padding:50px;
}
img.room-thumbnail{
	width: 40px;
	height: 40px;
}
.purple-bg h2{
	color: #fff;
}
.purple-bg p{
	color: rgba(255,255,255,.5);
    line-height: 1.5;
}
p.facilities-text{
	font-size: 16px;
	
	/*color:#fff;*/

}
#date_to, #date_from, #room_category,#date_to2, #date_from2{
	border-radius: 0px;
	height: 50px;
}
#search-btn{
	background: #6b265a;
    color: #fff;
    border: 2px solid #6b265a;
    padding: 10px;

}
.small-image{
	width: 200px;
	height: 200px;
}
.room-results{
	border:solid 1px #eee;
	padding:20px;

}
.logo-text{
	color:#903479!important;
	font-size: 40px!important;
	vertical-align: middle;
	top: 0px!important; 
}